*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #D9E8DE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
@font-face {
    font-family: ClockFont;
    src: url(Technology-Bold.ttf);
}
#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 250px;
    background-color: #182042;
    border-radius: 10px;
    border: 4px solid white;
    box-shadow: 6px 6px 8px ;
}
#center-inner{
    display: flex;
}
.number-counter, .button {
    font-family: ClockFont;
}
.number-counter{
    display: inline-block;
}
.number-counter{
    background-color: #0A0000;
    color: #FB4462;
    font-size: 64px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0px;
}
.button{
    background-color: #182042;
    border: 1px solid white;
    padding: 4px 6px;
    width: 30px;
    font-size: 16px;
    color: white;
}
.top-text{
    color:#e3ece6;
    font-size: 40px;
}
.guest{
    margin-left:15px;
}


.button:hover{
    transform: scale(1.15);
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
}
#reset{
    display: block;
    width: fit-content;
    margin-top:12px ;
}

